
/img
/profile_images
/public/admin
/admin
/front
/public/hot
/public/img
/public/storage
/node_modules
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
