<IfModule mod_rewrite.c>
    RewriteEngine On

    # ---------------------------------------
    # 1. تحويل www → بدون www
    # ---------------------------------------
    RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
    RewriteRule ^(.*)$ https://%1/$1 [L,R=301]

    # ---------------------------------------
    # 2. تحويل HTTP → HTTPS
    # ---------------------------------------
    RewriteCond %{HTTPS} !=on
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # ---------------------------------------
    # 3. Handle Authorization Header
    # ---------------------------------------
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # ---------------------------------------
    # 4. Redirect Trailing Slashes If Not A Folder
    # ---------------------------------------
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # ---------------------------------------
    # 5. Send Requests To Front Controller
    # ---------------------------------------
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # ---------------------------------------
    # 6. حماية ملف .env
    # ---------------------------------------
    <Files .env>
        order allow,deny
        Deny from all
    </Files>
</IfModule>

RewriteOptions inherit
Header set content-Security-Policy: upgrade-insecure-requests

# BEGIN cPanel-generated php ini directives, do not edit
<IfModule php7_module>
   php_flag display_errors Off
   php_value max_execution_time 60
   php_value max_input_time 120
   php_value max_input_vars 2000
   php_value memory_limit 2048M
   php_value post_max_size 512M
   php_value session.gc_maxlifetime 1440
   php_value session.save_path "/var/cpanel/php/sessions/ea-php74"
   php_value upload_max_filesize 200M
   php_flag zlib.output_compression Off
</IfModule>
<IfModule lsapi_module>
   php_flag display_errors Off
   php_value max_execution_time 60
   php_value max_input_time 120
   php_value max_input_vars 2000
   php_value memory_limit 2048M
   php_value post_max_lifetime 1440
   php_value post_max_size 512M
   php_value session.save_path "/var/cpanel/php/sessions/ea-php74"
   php_value upload_max_filesize 200M
   php_flag zlib.output_compression Off
</IfModule>
# END cPanel-generated php ini directives, do not edit

# php -- BEGIN cPanel-generated handler, do not edit
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php73 .php .php7 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
